.nav-wrap
  background-color: rgba(0, 0, 0, .5)
.page-banner
  background: url('/fe/img/Aset_MitraMalabar_ (2 of 8).jpg') no-repeat center center fixed
  height: 465px
.home-slider, .page-banner
  background-size: cover
  width: 100%
  z-index: -1

.home-page .page-section .card
  margin: -5rem auto 0
.default-page .page-section
  margin-top: calc( 465px - 5rem )

.section-content-wrap
  background-color: rgba(223, 190, 119, 0.4)

.content-image, .content-image2
  img
    width: 100%
  .image-content
    background-color: rgba(0, 0, 0, .5)
    width: 100%
    text-align: center
.content-image
  max-width: 815px
  max-height: 590px
.content-image2
  min-width: 45%
  max-width: 50%
  img
    aspect-ratio: 3/4
    width: 100%
    max-height: 100%
    object-fit: contain
  @media screen and (min-width: 768px)
    min-width: 30%
    max-width: calc( 100vw / 3 )
  @media screen and (min-width: 1024px)
    min-width: 23%
    max-width: 25%

.video-content-wrap
  background-color: $cadet
  .video-thumbnail
    margin: -10rem auto 0
    border-width: 1rem

.article-thumbnail
  aspect-ratio: 11/13
  @media screen and (min-width: 1024px)
    width: 30vw
  img.article-thumbnail-image
    max-height: 50%
    width: auto
    object-fit: cover

.article-content
  p
    margin: 1.5rem 0
  ul
    list-style: disc
    margin: 0 2.5rem

.contact-form
  input, textarea
    border-bottom: .125rem solid #9CA3AF
    margin: .5rem 0
    padding: 1rem 0 .5rem
    color: #1F2937
    &:focus
      outline: none
  input[type=submit]
    color: white