// Color
$alice: #E0EBF9
$amaranth: #E70F49
$cadet: #2D3247
$munsell: #0C94A4

// Typography
$montserrat: 'Montserrat', sans-serif
*
  font-family: $montserrat
h2.section-title
  color: $munsell
h1.page-title, h2.section-title-alt, h3.page-subtitle
  color: white
h3.page-subtitle
  font-weight: 300