* {
  font-family: "Montserrat", sans-serif;
}

h2.section-title {
  color: #0C94A4;
}

h1.page-title, h2.section-title-alt, h3.page-subtitle {
  color: white;
}

h3.page-subtitle {
  font-weight: 300;
}

.primary-button {
  background-color: #E70F49;
  color: white;
  padding: 1rem 2rem;
}

.home-banner {
  height: 100vh;
  background: url(https://i.pinimg.com/originals/e4/d2/fe/e4d2fe20325524f5e1d3b84a11e20496.jpg) no-repeat center center fixed;
}

.page-banner {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2a348a61432093.5a6ecd817d781.png) no-repeat center center fixed;
  height: 465px;
}

.home-banner, .page-banner {
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.home-page .page-section {
  margin-top: calc( 100vh - 5rem );
}
.home-page .page-section .card {
  margin: -5rem auto 0;
}

.default-page .page-section {
  margin-top: calc( 465px - 5rem );
}

.section-content-wrap {
  background-color: #E0EBF9;
}

.content-image img, .content-image2 img {
  width: 100%;
}
.content-image .image-content, .content-image2 .image-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.content-image2 {
  min-width: 45%;
  max-width: 50%;
}
@media screen and (min-width: 768px) {
  .content-image2 {
    min-width: 30%;
    max-width: calc( 100vw / 3 );
  }
}
@media screen and (min-width: 1024px) {
  .content-image2 {
    min-width: 23%;
    max-width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .content-image2 {
    min-width: 18%;
    max-width: 20%;
  }
}

.video-content-wrap {
  background-color: #2D3247;
}
.video-content-wrap .video-thumbnail {
  margin: -10rem auto 0;
  border-width: 1rem;
}

footer.footer {
  background-color: #2D3247;
  font-weight: 500;
}
footer.footer p a.highlight {
  font-weight: 900;
}
