@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  font-family: "Montserrat", sans-serif;
}

h2.section-title {
  color: #DFBE77;
}

h1.page-title, h2.section-title-alt, h3.page-subtitle {
  color: white;
}

h1.page-title {
  line-height: 1.5;
}

h3.page-subtitle {
  font-weight: 300;
  letter-spacing: 0.75rem;
}

.primary-button {
  background-color: #E70F49;
  color: white;
  padding: 1rem 2rem;
}
.primary-button:hover {
  background: #0C94A4;
}

.nav-wrap {
  background-color: rgba(0, 0, 0, 0.5);
}

.page-banner {
  background: url("/fe/img/Aset_MitraMalabar_ (2 of 8).jpg") no-repeat center center fixed;
  height: 465px;
}

.home-slider, .page-banner {
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.home-page .page-section .card {
  margin: -5rem auto 0;
}

.default-page .page-section {
  margin-top: calc(465px - 5rem);
}

.section-content-wrap {
  background-color: rgba(223, 190, 119, 0.4);
}

.content-image img, .content-image2 img {
  width: 100%;
}
.content-image .image-content, .content-image2 .image-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.content-image {
  max-width: 815px;
  max-height: 590px;
}

.content-image2 {
  min-width: 45%;
  max-width: 50%;
}
.content-image2 img {
  aspect-ratio: 3/4;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .content-image2 {
    min-width: 30%;
    max-width: 33.3333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  .content-image2 {
    min-width: 23%;
    max-width: 25%;
  }
}

.video-content-wrap {
  background-color: #2D3247;
}
.video-content-wrap .video-thumbnail {
  margin: -10rem auto 0;
  border-width: 1rem;
}

.article-thumbnail {
  aspect-ratio: 11/13;
}
@media screen and (min-width: 1024px) {
  .article-thumbnail {
    width: 30vw;
  }
}
.article-thumbnail img.article-thumbnail-image {
  max-height: 50%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-content p {
  margin: 1.5rem 0;
}
.article-content ul {
  list-style: disc;
  margin: 0 2.5rem;
}

.contact-form input, .contact-form textarea {
  border-bottom: 0.125rem solid #9CA3AF;
  margin: 0.5rem 0;
  padding: 1rem 0 0.5rem;
  color: #1F2937;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
}
.contact-form input[type=submit] {
  color: white;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-height: 85vh;
  position: relative;
  margin: auto;
}
.slideshow-container .homeSlides {
  display: none;
}
.slideshow-container .homeSlides img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85vh;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
footer.footer {
  background-color: #2D3247;
  font-weight: 500;
}
footer.footer p a.highlight {
  font-weight: 900;
}
